:root{
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 6%, 85%);
  --grayishBlue: hsl(228, 5%, 61%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
  --veryDarkBlue: hsl(240, 100%, 5%);
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    font-family: "Inter";
}

header{
    margin: 0rem 1rem 0rem 0rem;
}

.imgBox{
    margin: 2rem 1rem 2rem 1.5rem;
}

.mainImg{
    width: 100%;
}

.subHeader{
    font-weight:800;
    margin: 2rem 1rem 2rem 1.5rem;
}

.subText{
    margin: 2rem 1rem 2rem 1.5rem;
}

.readBtn{
    margin: 1rem 1rem 2rem 0;
    padding: 1rem 2.5rem;
    font-style: 18px;
    font-weight: 700;
    color: #fff;
    background-color: var(--softRed);
    border:0;
    letter-spacing: .25rem;
}

.articles{
    background-color: var(--veryDarkBlue);
    padding: 1.75rem;
    color: var(--offWhite);
    margin: 2rem 1rem 2rem 1.5rem;  
}

.new{
    margin-bottom: 2rem;
    color:var(--softOrange);
    font-weight: 600;
}

.articleHead{
    font-size: 1.5rem;
    font-weight:700;
}

.newArticle{
    letter-spacing: .10rem;
}

section{
    margin: 2rem 0rem 2rem 0.75rem;
    padding-bottom: 5rem;
}

/* GRID */
article{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "image numb"
    "image head"
    "image txt";
    margin:.5rem .25rem 2rem 0;
    column-gap: 1rem;
    row-gap: 1rem
    ;
}

.gridImg{
    grid-area: image;
    justify-self: start;
    margin: 0px;
}

.number{
    grid-area: numb;
    margin: 0px;
    justify-self: start;
    align-self: start;
    font-size: 2rem;
    font-weight: 800;
    color:var(--grayishBlue);
}

.blueHead{
    grid-area: head;
    margin: 0px;
    justify-self: start;
    align-self: start;
    color:var(--veryDarkBlue);
    font-weight: 800;
    font-size: 1.25rem;
}

.articleText{
    grid-area: txt;
    margin: 0px;
    justify-self: start;
    align-self: start;
    color:var(--grayishBlue);
    font-size: 1.0rem;
    font-weight: 700;
}








