:root{
  --softOrange: hsl(35, 77%, 62%);
  --softRed: hsl(5, 85%, 63%);
  --offWhite: hsl(36, 6%, 85%);
  --grayishBlue: hsl(228, 5%, 61%);
  --darkGrayishBlue: hsl(236, 13%, 42%);
  --veryDarkBlue: hsl(240, 100%, 5%);
}

body{
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    font-family: "Inter";
}

.container{
    width:95%;
    margin-bottom: 2rem;
}

header{
    margin: 0rem 1rem 0rem 0;
}

.imgBox{
    margin: 2rem 1rem 2rem 1rem;
}

main{
    margin-bottom: 2rem;
}

.mainImg{
    width: 100%;
}

.subHeader{
    font-weight:800;
    margin: 2rem 1rem 2rem 1rem;
   
}

.subText{
    margin: 2rem 1rem 2rem 1rem;

}

.readBtn{
    margin: 2rem 1rem 2rem 0;
    padding: 0.5rem 2.5rem;
    font-style: 16px;
    color: #fff;
    background-color: var(--softRed);
    border:0;
}

.articles{
    background-color: var(--veryDarkBlue);
    padding: 1.75rem;
    color: var(--offWhite);
    margin: 2rem 1rem 2rem 1rem;
    
}

.articleHead{
    font-size: 1.5rem;
    font-weight:700;
}
.new{
    margin-bottom: 2rem;
    color:var(--softOrange);
    font-weight: 600;
}

.newArticle{
    letter-spacing: .10rem;
}

section{
    margin: 2rem 1rem 5rem 1rem;
    padding-bottom: 5rem;
}

.number{
    font-size: 2rem;
    font-weight: 700;
    color:var(--grayishBlue);
}

.blueHead{
    color:var(--veryDarkBlue);
    font-weight: 800;
    font-size: 1.5rem;
}

.articleText{
    color:var(--grayishBlue);
    font-size: 1.25rem;
}

.deadspace{
    margin-bottom: 10rem;
}